@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins',sans-serif;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
	--dark-purple:#c026d3;
	--dark-purple-sec:#d946ef;
	--dark-light:#e879f9;
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--text: rgb(42, 53, 71);
	--hover: rgb(245, 208, 254);
}